.header-image {
  background-image: url('../Images/view.jpg');
  height: 324px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.H1 {
  position: absolute;
  top: 159px;
  left: 140px;
  color: #FFFFFF;
  max-width: 146px;
  width: 100%;
  height: 32px;
  font-size: 42px;
}
.home {
  position: absolute;
  top: 224px;
  left: 140px;
  color: #FFFFFF;
  font-size: 14px;
}
.Contact {
  position: absolute;
  top: 224px;
  left: 212px;
  color: #FFFFFF;
  font-size: 14px;
}
.Contact::before {
  content: '';
  width: 1px;
  height: 19px;
  background-color: #FFFFFF;
  display: inline-block;
  margin-right: 1170px;
  margin-left: -17px;
}
.map {
  max-width: 1088px;
  width: 100%;
  height: 288px;
}
.container {
  max-width: 1044px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}
.P {
  margin-top: 60px;
  max-width: 49px;
  width: 100%;
  height: 12px;
  font-size: 14px;
  color: #5863F8;
}
.H2 {
  margin-top: 89px;
  max-width: 322px;
  width: 100%;
  height: 96px;
  font-size: 42px;
  color: #000000;
  font-family: Poppins-ExtraBold;
}
.txtarea {
  max-width: 720px;
  width: 100%;
  height: 288px;
  margin-top: 56px;
  background-color: #F8F8F8;
  resize: none;
}
.txtarea::placeholder {
  color: #CECECE;
  margin-top: 24px;
  height: 13px;
}
.txtarea,
.input-wrapper:focus{
  outline: none;
}
.input-wrapper {
    max-width: 352px;
    width: 100%;
    height: 60px;
    margin-bottom: 16px;
}
.btn {
   max-width: 352px;
   width: 100%;
   height: 60px;
   background-color: #5863F8;
   font-family: 'Poppins', sans-serif;
   font-size: 14px;
   color: #fff;
}
.fa-paper-plane {
  margin-left: 14px;
}
.input-wrapper::placeholder {
  margin-top: 24px;
  margin-left: 20px;    
  /*margin-left: 20px; არ მუშაობს  */
  color: #CECECE;
  max-width: 43px;
  width: 100%;
  height: 13px;
}
.block {
  display: flex;
}
.block1 {
  display: flex;
  flex-direction: column;
}
.form-wrapper {
  display: flex;
  justify-content: column;
}